html, body {
    max-width: 100%;
    overflow-x: hidden;
    background:  url(http://i.giphy.com/CPghlEnbaVa2A.gif) no-repeat center center fixed; 
  	background-size: cover;
}
/* REGN: http://i35.photobucket.com/albums/d183/KnightMare21/rain-1.gif */
/* SOL: http://giphy.com/gifs/sun-sunshine-vadsqiBwAM18c */

p {
	font-size: 1em;
	color: white;
	font-weight: 200;
	font-family: 'Julius Sans One', sans-serif;
}

h2 {
	color: #ff1d8e;
	font-size:3em;
	font-weight: 200;
	margin-top: 20%;
	font-family: 'La Belle Aurore', cursive;
	
}

.title {
	padding-bottom: 6%;
}

button {
	background-color: transparent;
	border: none;
}

#content {
	/*background-color: black;*/
	height:100vh;
	width: 100%;
}

.centered {
	text-align: center;
}

.circle {
	border-radius: 50%;
	background-color:rgba(255,255,255,0.25);
	text-align: center;
	height:120vw;
	border: 2px solid white;
}

#location {
	font-size: 2em;
	font-weight: 200;
}

#temperature {
	font-size: 1em;
	font-weight: 300;
}

.date {
	color: #ff1d8e;
	font-family: 'La Belle Aurore', cursive;
}

.date-button {
	padding: 2.8% 3% 0.5% 3%;
	margin-top: 5%;
	text-align: center;
	font-size: 1.9em;
	background-color: rgba(255,255,255,0.25);
	border: 2px solid white;
}

#locationSection {
	background-color: rgba(1,1,1,0.75);
	color: #ff1d8e;
}

hr {
	border: #ff1d8e;
}

#activityTypeSection {
	background-color: rgba(1,1,1,0.75);
	
}

#detailsSection{
	background-color: rgba(1,1,1,0.75);
	color:#ff1d8e;
}

#priceSection {
	background-color: rgba(1,1,1,0.75);
}

#radiusSection {
	background-color: rgba(1,1,1,0.75);
}

#resultSection {
	background-color: rgba(1,1,1,0.75);
}


textarea:focus, input:focus{
    outline: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.amount {
	padding-left: -20px;
}

.textbox {
	width:80%;
	height:40px;
	font-family: 'Julius Sans One', sans-serif;
	background-color: transparent;
	border:none;
	border-bottom: 2px solid #ff1d8e;
	font-size: 1em;
	color: white;
	font-weight: 200;
}

.price {
	font-size: 1.2em;
	border: 3px solid white;
	border-radius: 50%;
	height: 125px;
	width: 125px;
	background-color: transparent;
	color: white;
}

.activity {
	margin-bottom: 25px;
	border-radius: 50%;
	padding-right:1%;
	padding-left:3%;
	border: 2px solid transparent;
	padding-top: 5%;
}

.price-active {
	border:4px solid #ff1d8e;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.circle {
		height:100vw;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.circle {
		height:120vw;
	}
	.date-button {
		padding: 0.5% 0.1% 0.5% 0.1%;
		margin-top: 2%;
		height:50px;
		margin-right: 10px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
	.lg-price {
		margin-right: 55px;
	}
}
